.mb-0{
    margin-bottom: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
}
p{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}
nav{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    margin-top: 40px;
    border-radius: 5px;
}
.parallelbox{
display: flex;
flex-direction: column;
width: 600px;
} 
.section, .article{
border: 3px solid black;
height: 100px;
width: 600px;
border-radius: 5px;
text-align: center;
font-size: 40px;
}
.aside{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 5px;
    height: 223px;
    margin-left: 40px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    height: 230px;
    border: 5px;
    border-color: black;
}

.side{
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
}
footer{
    border-color: black;
    border: 3px solid black;
    height: 100px ;
    border-radius: 5px;
    margin-top: 40px;  
}
.article{
    margin-top: 40px;
}
.section{
    border: 3px solid black;
}
.article{
    border: 3px solid black;
}